.image-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрируем содержимое по горизонтали */
}

.image-block__pic {
  width: 445px;
  height: 615px;
  display: block;
  object-fit: cover;
}

.image-block__logo {
  width: 90%;
  height: 140px;
  display: block;
  object-fit: cover;
  /* z-index: 2; */
  /* position: absolute; */
  /* top: 55%; */
}

.image-block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.image-block__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  z-index: 2;
  position: absolute;
  bottom: 10%;
}

@media screen and (max-width: 767px) {
  .image-block__pic {
    width: 100%;
    height: 615px;
  }

  .image-block__logo {
    height: 140px;
    /* top: 60%; */
  }
}
