.calendar {
  font-family: Arial, sans-serif;
  width: 320px;
  border: 1px solid #000;
}

header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.weekdays,
.days {
  display: flex;
  flex-wrap: wrap;
}

.weekday,
.day {
  width: calc(100% / 7);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  height: 40px;
  /* border-right: 1px solid #000; */
  /* border-bottom: 1px solid #000; */
}

.weekday {
  font-weight: bold;
}

.day.empty {
  visibility: hidden;
}

.highlight {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 50px; */
  }
  
  .highlight::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../images/heart.png');
    background-size: cover;
    background-position: center;
    animation: pulse 1s infinite;
  }

@keyframes pulse {
  0%,
  100% {
    transform: scale(1); /* Начальное и конечное состояние анимации */
  }
  50% {
    transform: scale(1.3); /* Увеличение размера */
  }
}
