.main {
  width: 100%;
  margin: 0 auto;
  background: #e3e5e4;
}

.main__container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.countdown-timer {
  font-size: 220px;
  color: #fff;
  font-family: Arial;
}

.main__title {
  text-align: center;
}
.main__description {
  text-align: center;
}
