.calendar {
    display: flex;
    flex-wrap: wrap;
    width: 300px; /* Ширина календаря */
  }
  
  .month {
    display: flex;
    flex-wrap: wrap;
  }
  
  .day {
    width: calc(100% / 7); /* 7 дней в ряду */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .highlight {
    background-color: #ff6868;
    color: white;
  }
  
  .empty {
    visibility: hidden;
  }
  